.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  &__tag {
    // a:not([class]) {
      color: var(--color-dark);
      position: relative;
      display: inline-block;
      background: var(--color-theme-highlight);
      padding: 0.2rem 0.4rem 0.3rem 0.4rem;
      text-decoration: none;
      word-break: break-word;

      @include apply-utility('leading', 'tight');
    // }
  }
}
