<p><a href="https://github.com/isabelcosta">GitHub</a> | <a href="https://www.linkedin.com/in/isabelcmdcosta">LinkedIn</a> | <a href="https://twitter.com/isabelcmdcosta">Twitter</a> | <a href="https://medium.com/@isabelcmdcosta">Medium</a> | <a href="https://dev.to/isabelcmdcosta">DEV</a></p>