<section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
<div class="[ inner-wrapper ] [ sf-flow ]">
    <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">{{ featuredTalksHeading }}</h2>
    <ol class="[ post-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
    {% for item in featured_talks.items %}
        {# {% if item.date.getTime() <= global.now %} #}
        <li class="post-list__item">
            <h3 class="font-base leading-tight text-600 weight-mid">
                {{ item.title }}
            </h3>
            <p class="text-500 gap-top-300 weight-mid">
                {# <p>{{ item.date | dateFilter }}</p> #}
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time> | 
                <a href="{{ item.video }}" class="post-list__link" rel="bookmark">Video</a> |
                    <a href="{{ item.slides }}" class="post-list__link" rel="bookmark">Slides</a>
            </p>
        </li>
        {# {% endif %} #}
    {% endfor %}
    </ol>
</div>
</section>

{% set featuredTalksLinkTokens = 'leading-tight text-500 weight-mid box-inline-flex align-center pad-bottom-300' %}

<div class="inner-wrapper">
<footer class="[ pagination ] [ pad-bottom-900 ]">
    <nav class="[ pagination__nav ] [ box-flex space-between align-center ]">
    {% if featuredTalksUrl %}
        <a href="{{ featuredTalksUrl }}" class="{{ featuredTalksLinkTokens }}" data-direction="forwards">
        <span>{{ featuredTalksText if featuredTalksText else 'Next' }}</span>
        {% include "icons/arrow.svg" %}
        </a>
    {% endif %}
    </nav>
</footer>
</div>