{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
  {% include "partials/components/social-media-links.njk" %}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.featuredPosts %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = 'all posts' %}
  {% set paginationNextUrl = '/posts' %}
{% endif %}

{# Featured talks list content #}
{% set featuredTalksText = 'all talks' %}
{% set featuredTalksUrl = '/talks' %}
{% set featuredTalksHeading = 'Featured talks' %}
{% set featuredTalksItems = collections.featuredTalks %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/home-post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
    {% include "partials/components/talks-list.njk" %}
  </main>
{% endblock %}
